

.onMouseEnter {
    bottom: -5rem;
    animation: fadeInFromBottom 0.4s ease-in-out;
}

.onMouseLeave {
    bottom: -5rem;
    animation: fadeOutFromBottom 0.2s ease-in-out;
    
}


@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    50% {
        opacity: 1;
        transform: translateY(-7%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeOutFromBottom {
    from {
        opacity: 1;
        transform: translateY(0);
        bottom: -8rem;
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        bottom: 0;
    }
}

@media (min-width: 768px) {
    .onMouseLeave {
        bottom: -100%;
    }
}
@media (min-width: 768px) {
    .onMouseEnter {
        bottom: -8rem
    }
}