@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    70% {
        opacity: 1;
        transform: translateY(2%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-from-top {
    animation: fadeInFromTop 2s ease-in-out;
}